<div class="jumbotron">
    <h1>Hello World</h1>
    <p class="lead">This is a test application for learning how to package and deploy to Elastic Beanstalk</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>English</h2>
        <p>Hello. Howdy. Hi. How are you? What's up?</p>
    </div>
    <div class="col-md-4">
        <h2>Spanish</h2>
        <p>Hola. Como estas? Buenos Dias. Que pasa?</p>
    </div>
    <div class="col-md-4">
        <h2>German</h2>
        <p>Hallo. Guten tag. Wie geht es dir? Was ist los?</p>
    </div>
</div>
